html {
  background: #16222a no-repeat; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #16222a, #3a6073) no-repeat; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #16222a, #3a6073) no-repeat; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
}

body {
  font-family: Roboto;
}

h1 {
  background-color: #16222a;
  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li:nth-child(2n) {
  background-color: #253c47;
}

li {
  background-color: #16222a;
  height: 40px;
  line-height: 40px;
  color: white;
}

input {
  font-size: 18px;
  background-color: rgb(36, 36, 36);
  width: 100%;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  color: white;
  outline-width: 10px;
  border: 3px solid rgba(0, 0, 0, 0);
}

input:focus {
  background-color: #0f0f0f62;
  border: 3px solid #0f2f44;
  outline: none;
}

li span {
  width: 0;
  background-color: #e74c3c;
  height: 40px;
  margin-right: 15px;
  text-align: center;
  color: white;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 0;
}

li:hover span {
  width: 40px;
  opacity: 1;
}

.fa-plus {
  float: right;
}

.container {
  width: 360px;
  margin: 100px auto;
  background-color: #221b1b;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.completed {
  color: gray;
  text-decoration: line-through;
}
